<p id="notice"><%= notice %></p>

<p>
  <strong>Start Date:</strong>
  <%= @session.start_date %>
</p>
<p>
  <strong>End Date:</strong>
  <%= @session.end_date %>
</p>

<%= link_to 'Edit', edit_course_session_path(@course, @session) %> |
<%= link_to 'Back', course_sessions_path %>
