.row.col-xs-9.col-xs-offset-1.col-sm-9.col-sm-offset-1.col-md-9.col-md-offset-1.col-lg-9.col-lg-offset-1
  %h1 Your Courses

- @courses.each do |course|
  .row.col-xs-9.col-xs-offset-1.col-sm-9.col-sm-offset-1.col-md-9.col-md-offset-1.col-lg-9.col-lg-offset-1
    = link_to course.name, course
    - if current_user.can_update?(course)
      = link_to 'Edit', edit_course_path(course)
    - if current_user.can_delete?(course)
      = link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }
  - course.sessions.each do |session|
    %ul
      .row.col-xs-9.col-xs-offset-2.col-sm-9.col-sm-offset-2.col-md-9.col-md-offset-2.col-lg-9.col-lg-offset-2
        %li= link_to session.slug, session_path(session)
        - if current_user.can_update?(session)
          = link_to 'Edit', edit_course_session_path(course, session)
        - if current_user.can_delete?(session)
          = link_to 'Destroy', course_session_path(course, session), method: :delete, data: { confirm: 'Are you sure?' }


.row.col-xs-9.col-xs-offset-1.col-sm-9.col-sm-offset-1.col-md-9.col-md-offset-1.col-lg-9.col-lg-offset-1
  - if current_user.can_create?(Course)
    = link_to 'New Course', new_course_path
